<!doctype html>

<html>
    <head>
    
        <title>{{ aPage.strTitle }}</title>

        <meta name="description" content="{{ aPage.strDescription }}">

    </head>
    <body>
        <h1>Users</h1>
        <div>
            <span>{{ aUsers }}</span>
        </div>
    </body>
</html>
