<!doctype html>

<html>
  <head>

    <title>{{ aPage.strTitle }}</title>

    <meta name="description" content="{{ aPage.strDescription }}">

  </head>
  <body>
    <h1>Hello World</h1>
    <div>
      <span>By ADPCProjects</span>
    </div>
  </body>
</html>
